
body {
    background-color: green;
}


h1 {
    color:blue;
    padding-top: 20px;
    
}

p {
    margin: 10px 15px 30px 45px;
    color: rgb(0, 255, 242);
    background-origin: 10px;
    border: solid red 10px;
    width: 250px;
}

.multiline {
   white-space: pre-wrap; 
}

p {
    display: block;
}

img{
    width: 350px;
    height: 150px;

}

/* Media Queries */
@media screen and (min-width: 700 px) {

p {
    color: yellow;
    border: black;
}
img {
    width: 500px;
    height: 175px;
}
}

